<div class="list-banner card-category" style="background-image: url('<%= cl_image_path("a9asb2eyqjid80i61mda", crop: :fill) %>')">
  <h1>Save any kind of movies</h1>
  <h2>Classic</h2>
</div>

<div class="container d-flex flex-column">
  <div class="d-flex justify-content-between ">
    <h2 class="text-bold">My Lists</h2>
    <button class="btn btn-success text-white" type="submit"><%= link_to "New List", new_list_path %></button>
  </div>
    <ul class="m-1 cards">
      <% @lists.each do |list| %>
        <% image_url = list.photo.present? ? cl_image_path(list.photo.key, height: 100, crop: :fill) : cl_image_path("a9asb2eyqjid80i61mda", crop: :fill) %>
        <li class="card-category" style="background-image: url('<%= cl_image_path(image_url, crop: :fill) %>')">
        <%= link_to list.name, list_path(list) %>
        </li>
      <% end %>
    </ul>
</div>
